.contacts-list {
  padding: 10px 50px;

  &__item {
    @extend %dffs;
    padding: 20px 10px;
    border-bottom: 1px solid rgba($color-primary, .4);
    cursor: pointer;
  }

  &__item-icon {
    padding: 0 20px 0 0;
  }

  &__item-name {
    font-size: 20px;
    font-weight: 500;
  }
}